.page-header
  .pull-right

    = form_tag users_path, class: "users-search-form form-inline", method: :get, remote: true do
      .input-group
        .input-group-btn
          = submit_tag "Search", class: "btn btn-info"
        = text_field_tag :query, params[:query], id: 'search', class: "form-control", placeholder: 'Search for...'

  %h4
    %span.glyphicon.glyphicon-list
    Listing users

#users-listing
  = render 'users'

= link_to new_user_path, class: 'btn btn-primary' do
  %span.glyphicon.glyphicon-plus
  New User

= render partial: 'typeahead'